.services {
  display: flex;
  height: 100vh;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 3rem auto;
}

.services > h1 {
  font-size: 32px;
  font-weight: bolder;
  color: #183645;
  border: 2px solid #183645;
  padding: 15px;
  border-radius: 10px;
}

@media screen and (max-width: 750px) {
  .services {
    height: 100%;
  }
  .services > h1 {
    font-size: 20px;
  }
}
