.servicesSwiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.servicesSwiper > .swiper-wrapper > .swiper-slide {
  width: 30%;
  border-radius: 5%;
}

.servicesSwiper > .swiper-wrapper > .swiper-slide img {
  width: 100%;
  border-radius: 5%;
  object-fit: cover;
  object-position: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #183645;
}

@media screen and (max-width: 750px) {
  .servicesSwiper > .swiper-wrapper > .swiper-slide {
    width: 65%;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 24px;
  }
}
