.servicesContainer {
  width: 100%;
  border-radius: 5%;
}

.servicesContainer .text {
  width: 100%;
  display: inline-flex;
  color: #fff;
  margin-top: 2rem;
  text-align: center;
}

.servicesContainer > .text > p {
  font-size: 14px;
}

@media (max-width: 750px) {
  .servicesContainer .text {
    margin-top: 0.5rem;
    gap: 10px;
  }

  .servicesContainer > .text > h1 {
    font-size: 17px;
  }

  .servicesContainer > .text > p {
    font-size: 10px;
  }
}
