.testimonial {
  background-color: #183645;
  margin: 5rem auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.testimonial > .swiper {
  width: 35%;
}

.testimonial > .swiper > .swiper-wrapper {
  width: 100%;
}

.testimonial > .swiper > .swiper-wrapper > .swiper-slide {
  width: 80%;
}

.testimonial
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > .testimonial-container
  img {
  width: 100%;
  border-radius: 5%;
  object-fit: cover;
}

.testimonial-title {
  color: #e8e6dd;
  font-size: 32px;
  font-weight: bolder;
  border: 2px solid #e8e6dd;
  padding: 15px;
  border-radius: 10px;
}

@media screen and (max-width: 750px) {
  .testimonial {
    margin: 3rem auto;
    gap: 2rem;
    overflow: hidden;
  }
  .testimonial > .swiper {
    width: 75%;
  }

  .testimonial > .swiper > .swiper-wrapper {
    width: 100%;
  }

  .testimonial-title {
    font-size: 24px;
  }
}
