.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  padding: 0 1.5rem;
}

.footer > img {
  width: 50px;
}

.footer .copy-right {
  margin-left: 2rem;
  color: #09151a;
}

.footer .shortcuts {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .icon-facebook-square {
  color: #29487d;
}
.footer .icon-phone-square {
  color: #075e54;
}
.footer .icon-facebook-square > a,
.footer .icon-phone-square > p {
  color: #09151a;
}

.footer .icon-facebook-square,
.footer .icon-phone-square {
  display: flex;
  gap: 5px;
}

@media screen and (max-width: 750px) {
  .footer {
    flex-direction: column;
    align-items: start;
    padding: 0 0.5rem;
    margin-top: 1rem;
  }

  .footer .copy-right {
    margin-left: 0;
    font-size: 12px;
  }

  .footer .shortcuts {
    font-size: 12px;
  }

  .footer > img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    margin-right: 10px;
  }
}
